.title-section {
  width: 85%;

  text-align: center;
  align-items: center;

  margin: 0px auto 70px;
  @media screen and (max-width: 768px) {
    width: 100%;
    margin-bottom: 50px;
  }
  @media screen and (max-width: 500px) {
    margin-bottom: 50px;
  }
  @media screen and (max-width: 375px) {
    margin: 0px auto 30px;
  }

  .title {
    font-size: 3rem;
    font-family: $playfairDisplay;
    font-weight: 400;
    letter-spacing: -1px;
    font-style: italic;
    margin-bottom: 30px;

    @media screen and (max-width: 375px) {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }
    @media screen and (max-width: 320px) {
      font-size: 2rem;
      margin-bottom: 10px;
    }
  }
  .title-description {
    font-family: $inter;
    font-weight: 300;
    font-size: 1.35rem;

    color: $grey;

    letter-spacing: -1px;

    @media screen and (max-width: 768px) {
      font-size: 1.2rem;
    }
    @media screen and (max-width: 500px) {
      font-size: 1.1rem;
    }
    @media screen and (max-width: 375px) {
      font-size: 0.9rem;
    }
    @media screen and (max-width: 375px) {
      font-size: 0.8rem;
    }
  }
}
