.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  .hero-img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.286);
  }

  .hero-title {
    position: absolute;
    bottom: 100px;
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     @media screen and (max-width:1024px) {
            width: 70%;
        }
        @media screen and (max-width:600px) {
            width: 90%;
        }
        @media screen and (max-width:560px) {
            width: 95%;
        }
    .title-section {
      .title {
        color: white;
        font-size: 3.1rem;
       @media screen and (max-width:560px) {
            font-size: 2.8rem;
        }
        @media screen and (max-width:560px) {
            font-size: 2.5rem;
        }
        @media screen and (max-width:425px) {
            font-size: 2.3rem;
        }
        @media screen and (max-width:390px) {
            font-size: 2.1rem;
            margin-bottom: 20px;
        }
        @media screen and (max-width:375px) {
           font-size: 1.9rem;
           
        }
      }
      .title-description {
        color: #e8e8e8;
        margin: auto;
        width: 90%;
        font-size: 1.4rem;
        @media screen and (max-width:560px) {
            width: 95%;
            font-size: 1.3rem;
        }
        @media screen and (max-width:500px) {
            font-size: 1.2rem;
            width: 85%;
        }
        @media screen and (max-width:375px) {
           font-size: 1.1rem;
            width: 90%;
        }
        @media screen and (max-width:375px) {
            width: 95%;
        }
        
      }
    }

    .CTA-hero {
      font-family: $playfairDisplay;
      font-size: 1.3rem;
      color: white;
      position: relative;
      margin-top: -30px;
      cursor: pointer;
       @media screen and (max-width:390px) {
            font-size: 1rem;
        }
        @media screen and (max-width:375px) {
            margin-top: -10px;
        }
      &:hover {
        color: darken(white, 10);
      }
      &:hover::after {
        background-color: darken(white, 10);
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 100%;
        height: 1.5px;
        background-color: rgb(255, 255, 255);
      }
    }
  }
}
