.About-page {
  height: auto;
  margin-top: 50px;
@media screen and (max-width:375px) {
       //background-color: red;
      margin-top: 10px;
    }
  p {
    font-family: $inter;
    font-weight: 200;
    text-align: justify;
    width: 100%;
    font-size: 1.3rem;
    line-height: 1.5;
    color: #585858;
    letter-spacing: -1px;

    @media screen and (max-width: 1024px) {
      font-size: 1.2rem;
      line-height: 1.2;
    }
    @media screen and (max-width: 885px) {
      font-size: 1.1rem;
      line-height: 1.2;
    }
    
  }
  .container-about {
    width: 80%;
    margin: auto;
    @media screen and (max-width: 1024px) {
      width: 95%;
    }
    

    .content-about {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 768px) {
        width: 100%;
        flex-direction: column;
      }
      @media screen and (max-width:375px) {
        width: 90%;
        margin: auto;
      
    }
    }
    .about-img {
      background-color: gainsboro;
      width: 45%;
      object-fit: 3/2;
      height: 650px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @media screen and (max-width:768px) {
        width: 100%;
        height: 850px;
        img{
            object-position: bottom;
        }
      }
      @media screen and (max-width:578px) {
      width: 90%;

      height: 700px;
    }
    @media screen and (max-width:500px) {
      height: 600px;
    }
    @media screen and (max-width:425px) {
        
      height: 510px;
    }
    @media screen and (max-width:375px) {
      height: 450px;
    }
     @media screen and (max-width:375px) {
        width: 90%;
      height: 400px;
    }
    }
    .about-first-p {
      width: 45%;
      @media screen and (max-width: 768px) {
        width: 90%;
      }
      @media screen and (max-width: 375px) {
        width: 95%;
      }
      p {
        padding: 10px 13px 13px 50px;

        @media screen and (max-width: 768px) {
          padding: 10px 0px 10px 0px;
        }
        &:last-child {
          text-align: center;
          @media screen and (max-width: 768px) {
          }
        }
      }

      span {
        font-family: $playfairDisplay;
        font-weight: 600;
        font-style: italic;
        color: $gold;
        @media screen and (max-width: 768px) {
          width: 90%;
        }
      }
      a {
        text-decoration: none;
        color: $gold;
        font-style: italic;
        font-weight: 400;
      }
    }
  }
  .about-second-p {
    width: 95%;
    margin-top: 20px;
  }
}
