.cart {
  display: flex;
  position: relative;
  cursor: pointer;
  

  .cart-icon {
    font-size: 1.3rem;
  }
  .ellipsis {
    
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 16px;
    height: 16px;
    border-radius: 50%; 
    position: absolute;
    right: -12px;
    top: -9px;
    font-size: 0.6rem;
   
    @media screen and (max-width: 768px) {
      
      color: rgb(0, 0, 0);
    }
    p {
      margin-top: -0.5px;
      padding: 0;

      height: 15px;
    }
  }

  
}
.cart-container {
  background: rgb(255, 255, 255);
  width: 28%;
  height: 80vh;
  position: fixed;
  right: 20px;
  top: 80px;
  border-radius: 7px;
  transform: translateX(110%);
  transition: ease-in-out 0.4s;
  color: black;
    border: 1px solid #F5F5F5;
    overflow-y:scroll ;

    &::-webkit-scrollbar {
  background-color: rgba(161, 108, 108, 0);
  width: 12px; 
}

&::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
  

  border: 3px solid transparent; 
  background-clip: padding-box;  
}

 
  @media screen and (max-width: 1024px) {
    top: 0;
    right: 0;
    height: 100vh;
    width: 40%;
    z-index: 99;
    //border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  @media screen and (max-width: 768px) {
    width: 50%;
  }
 
  @media screen and (max-width: 600px) {
    width: 70%;
  }
  @media screen and (max-width: 438px) {
    width: 80%;
  }
  @media screen and (max-width: 375px) {
    width: 90%;
    
  }
  
  .closeCart {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.2rem;
    display: block;

    @media screen and (max-width: 778px) {
      display: block;
    }
  }
  .title-cart{
    width: 80%;
    margin: 0px auto 20px;
    border-bottom: 1px solid #E9E9E9;
    padding: 20px 0px;
    

    p{
        font-family: $playfairDisplay;
    }
  }
  .total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto 30px;
  }
  .cart-cta{
    width: 80%;
    margin:auto;
    margin-bottom: 30px;
  }
}
.overlay-cart{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.386);
    opacity: 0;
    pointer-events: none;
    @media screen and (max-width:1024px) {
      &.show-overlay-cart{
      opacity: 1;
      pointer-events: auto;
    }
    }
    
  }