.featured {
  width: 80%;
  height: auto;
  margin: 100px auto;
  display: flex;
  align-items: center;

  @media screen and (max-width: 768px) {
    justify-content: space-between;
    height: 300px;
    width: 90%;
  }
  @media screen and (max-width: 600px) {
    margin: 30px auto;
  }
  @media screen and (max-width: 589px) {
    flex-direction: column-reverse;
    height: auto;
  }
  @media screen and (max-width: 500px) {
    width: 90%;
  }

  .container-img-featured {
    aspect-ratio: 3/4;
    width: 40%;
    position: relative;
    @media screen and (max-width: 768px) {
      width: 40%;
    }
    @media screen and (max-width: 589px) {
      width: 70%;
      margin-top: -20px;
    }
    @media screen and (max-width:500px) {
        width: 100%;
    }
    @media screen and (max-width:375px) {
        margin-top: 0px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      position: absolute;
      left: 0;
    }
  }
  .container-description-featured {
    width: 50%;

    @media screen and (max-width: 1024px) {
      width: 60%;
    }
    @media screen and (max-width: 589px) {
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .title-description {
      @media screen and (max-width: 1024px) {
        font-size: 1.2rem;
        width: 90%;
        margin: auto;
        margin-bottom: 0px !important;
      }
      @media screen and (max-width: 900px) {
        font-size: 1rem;
      }
      @media screen and (max-width: 589px) {
        width: 70%;
        position: relative;
      }
      @media screen and (max-width:500px) {
        width: 90%;
      }
      @media screen and (max-width:375px) {
        font-size: 0.8rem;
        width: 100%;
    }
    }
    .CTA {
      display: flex;
      @media screen and (max-width: 1024px) {
        width: 40%;
        margin-top: -40px !important;
      }
      @media screen and (max-width: 900px) {
        font-size: 0.9rem;
        height: 40px;
      }
      @media screen and (max-width: 768px) {
        height: 35px;
        margin-top: -20px !important;
        font-size: 0.8rem;
      }
      @media screen and (max-width: 589px) {
        display: none;
      }
    }
  }
  .CTA {
    display: none;

    @media screen and (max-width: 589px) {
      width: 70%;
      height: 35px;
      font-size: 0.8rem;
      display: flex;
    }
    @media screen and (max-width:500px) {
        margin-top:30px;
    }
    @media screen and (max-width:375px) {
        font-size: 0.7rem;
        
    }
  }
}
