.card-cart {
  .card-cart-container {
    display: flex;
    width: 80%;
    height: 100%;
    position: relative;
    margin: 20px auto 0px;

    letter-spacing: -0.5px;
    padding-top: 10px;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #e9e9e9;
      position: absolute;
      bottom: -15px;
    }
  }
  .Card-cart-img {
    background-color: gainsboro;
    aspect-ratio: 3/4;
    width: 33%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card-cart-description {
    width: 50%;
    //margin-left: 10px;
    margin: 10px 0px 0px 10px;

    card-cart-title {
      @media screen and (max-width: 1024px) {
        font-size: 0.9rem;
      }
      @media screen and (max-width: 375px) {
        font-size: 0.7rem !important;
      }
    }
    .description {
      color: #757575;
      font-size: 0.7rem;
      font-family: $inter;
      margin-top: 10px;
      span {
        color: #4b4a4a;
      }
      @media screen and (max-width: 375px) {
        font-size: 0.6rem;
      }
    }
    .card-cart-price {
      font-size: 0.9rem;
      position: absolute;
      bottom: 10px;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 63%;

      .remove-btn {
        font-family: $montserrat;
        color: #757575;
        font-size: 0.7rem;
        position: relative;
        border: none;
        background-color: transparent;
        cursor: pointer;

        @media screen and (max-width: 320px) {
          font-size: 0.5rem;
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          bottom: -6px;
          width: 100%;
          height: 1px;
          background-color: #757575;
        }
        &:hover {
          color: $gold;
          &::after {
            background-color: $gold;
          }
        }
      }
      @media screen and (max-width: 1024px) {
        margin-top: 3px;
        font-size: 0.8rem;
      }
      @media screen and (max-width: 320px) {
        font-size: 0.7rem;
        width: 61%;
      }
    }
    .cart-cta {
      position: absolute;
      bottom: 30px;
      width: 80%;
      margin: 0;
      font-size: 0.65rem;
      background-color: transparent;
      color: $gold;
      padding: 0;
      justify-content: start;
      @media screen and (max-width: 1024px) {
        width: 43%;
        font-size: 0.6rem;
        bottom: 20px;
      }
    }
  }
}
