.collection-title {
  padding-top: 50px;
  width: 75%;
margin: auto;
  @media screen and (max-width: 768px) {
    width: 90%;
  }
}

.container-collection {
  display: flex;
  align-items: center;
  //justify-content: center;
  flex-wrap: wrap;
  //gap: 10px;
  width: 75%;
  margin: auto;
  @media screen and (max-width: 768px) {
    width: 90%;
  }
  .container-card-product {
    width: 33%;

    @media screen and (max-width: 800px) {
      width: calc(33% - 30px / 3);
    }
     @media screen and (max-width: 550px) {
      width: 50%;
    }
    
    /* .product-description-container {
      @media screen and (max-width: 800px) {
        width: calc(33% - 30px / 3);
        .product-name {
          @media screen and (max-width: 768px) {
            font-size: 1rem;
          }
        }
      }
    } */
  }
}
