.collection-title {
  padding-top: 50px; 
  
}

.container-collection{
    display: flex;
    align-items: center;
    //justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 75%;
    margin: auto;

    .container-card-product{
        width: calc(25% - 30px/4);
    }
}